.question.svelte-gr24h{margin-bottom:50px}
.answer.svelte-ygf5c4{margin-right:1em;padding:1em;flex:1}
.answers.svelte-hku7a4{display:flex}
.card.svelte-1kni37g{border-radius:4px;box-shadow:0px 1px 3px 0px rgba(0,0,0,0.2)}.card-image.svelte-1kni37g{max-width:100%}.card-content.svelte-1kni37g{padding:1em}
.map.svelte-16c2pp7{height:100%}
.results.svelte-1wk823e{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-gap:10px}.tabs.svelte-1wk823e,.tab-content.svelte-1wk823e{height:100%}
h1.svelte-1ucbz36{color:purple}
