<button class="answer {isSelected ? 'selected' : ''}" on:click="$set({ answers: { ...$answers, [key]: this.innerText }})">
  <slot></slot>
</button>

<script>
  export default {
    computed: {
      isSelected: ({ $answers, key, value }) => $answers[key] == value
    }
  }

</script>

<style>
  .answer {
    font-family:'FatFrank';
    margin-right: 1em;
    padding: 1em;
    flex: 1;
    font-size: 32px;
    background: white;
    color: #92D5B9;
    border-radius: 4px;
    cursor: pointer;
    border: 3px solid #92D5B9;
  }
  .answer:last-of-type {
    margin-right: 0;
  }
  .selected {
    background: #92D5B9;
    color: white;
  }
</style>
