<div class='back-container'>
  <button class="back back-text" on:click="$set({ viewState: $viewState - 1 })">
    Select again
  </button>
</div>

<script>
</script>

<style>
  .back {
    margin: 0;
    padding: 1em;
    flex: 1;
    background: #91e1c8;
    color: #282828;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
  .back-text {
    background: transparent;
    color: white;
    font-weight: bold;
    padding: 0;
  }
  .back-text:before {
    content: '< '
  }
  .back-container {
    width: 1150px;
    margin: 0 auto;
  }
</style>
