<div class='main-cities'>
  {#each cities as city}
    <Question>
      <h2>{city.text}</h2>
      <div class="answers">
        {#each city.answers as answer}
          <CityAnswer key={city.key} value={answer}>{answer}</CityAnswer>
        {/each}
      </div>
    </Question>
  {/each}
</div>

<style>
  .main-cities {
    width: 1150px;
    margin: 0 auto;
  }

  .answers {
    display: flex;
  }
  h2 {
    font-weight: normal;
  }
</style>

<script>
  import Question from './Question.html';
  import CityAnswer from './CityAnswer.html';

  export default {
    components: { Question, CityAnswer },

  };
</script>

