<div class="card">
  <div class="card-image">
    <img src={poi.thumbnail_url + '?output-format=auto&output-quality=60&fill=300:170'} alt="" />
  </div>
  <div class="card-content">
    <h3>{poi.name}</h3>
    <p>{poi.title}</p>
  </div>
  <div class="card-footer">
    <a href="/">Bring someone</a>
    <a href="/">Add to Passport</a>
  </div>
</div>

<style>
 .card {
    border: 1px solid #d8d8d8;
    height: 380px;
    display: flex;
    flex-direction: column;
  }
  .card-image{
    max-height: 209px;
    overflow: hidden;
  }
  .card-image img {
    max-width: 100%;
  }
  .card-content {
    padding: 0px 15px 0px 15px;
    flex: 1;
  }
  .card-footer {
    padding: 0px 15px 15px 15px;
  }
  .card-footer a {
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid #CBCBCB;
    color: #F27075;
    font-weight:600;
    font-size: 14px;
  }
  .card-footer a:last-of-type {
    border: none;
  }
  h3{
    margin-top: 20px;
  }
  p {
    margin: 10px 0px 10px 0px;
  }
</style>
