<canvas ref:realEarth class="realEarth" width="800" height="500"></canvas>

<style>
  .realEarth {
    height: 600px;
    width: 100%;
  }
</style>

<script>
  import * as THREE from 'three';

  class RealEarth {
    constructor(places, elem) {
      this.scene = new THREE.Scene();

      this.camera = new THREE.PerspectiveCamera(45, 1150/600, 0.1, 1000);
      this.camera.position.z = 3.20;
      this.camera.position.y = 2;
      this.camera.lookAt(this.scene.position);

      this.renderer = new THREE.WebGLRenderer({ canvas: elem })
      this.renderer.setClearColor (0xf27075, 1);

      let ambientLight = new THREE.AmbientLight(0x444444);
      this.scene.add(ambientLight);

      let light = new THREE.DirectionalLight(0xaaaaaa, 1)
      this.scene.add(light);

      this.realEarth = new THREE.Mesh(
        new THREE.CylinderGeometry( 1.5, 1.5, .2, 32 ),
        new THREE.MeshPhongMaterial({
          map: new THREE.TextureLoader().load('img/real-earth.jpg'),
          bumpMap: new THREE.TextureLoader().load('img/real-earth.jpg'),
          bumpScale: 0.08,
          specularMap: new THREE.TextureLoader().load('img/real-earth.jpg'),
          specular: new THREE.Color('grey'),
        })
      );
      this.scene.add(this.realEarth);
      this.realEarth.rotateY(3.1);

      // comment this out for fake markers
      const markers = [[34.3205484, -118.4822827], [40.7128, -74.0060], [51.5074, 0.1278]];
      markers.forEach(marker => {
        let [lat, lon] = marker;


        let [x, z] = this.azimuthal(lat, lon);
        let y = 0.1;
        x = x * 0.2;
        z = z * 0.2;
        console.log(x, y, x);
        let spriteMap = new THREE.TextureLoader().load('img/pin.png');
        let spriteMaterial = new THREE.SpriteMaterial({ map: spriteMap, color: 0xffffff });
        this.sprite = new THREE.Sprite(spriteMaterial);
        this.sprite.position.set(x, y+0.075, z);
        this.sprite.scale.set(0.15, 0.15, 0.15);
        this.scene.add(this.sprite);
      });

      this.animate();
    }

    azimuthal(lat, lng) {
      let cosLat = Math.cos(lat);
      let cosLng = Math.cos(lng)
      let c = Math.acos(cosLat * cosLng);
      let k = c && c / Math.sin(c);;
      return [ k * cosLng * Math.sin(lat), k * Math.sin(lng) ];
    }

    animate() {
      requestAnimationFrame(() => this.animate());
      let yaw = .001
      let x = this.camera.position.x,
          y = this.camera.position.y,
          z = this.camera.position.z;
      this.camera.position.x = x * Math.cos(yaw) - z * Math.sin(yaw);
      this.camera.position.z = z * Math.cos(yaw) + x * Math.sin(yaw);
      this.camera.lookAt(this.scene.position);
      this.renderer.render(this.scene, this.camera);
    }
  }

  export default {
    oncreate () {
      this.realEarth = new RealEarth(this.options.data.items, this.refs.realEarth);
    }
  }
</script>
