<div ref:container class="real-space">
  <img ref:img src="img/3d-real.jpg" class="real-earth" alt="The real earth, don't believe those round earth fools" />
  <span ref:marker class="marker"></span>
</div>


<style>
  .real-space {
    background: black;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .real-earth {
    width: 75%;
    height: 100%;
  }
  .marker {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    opacity: 0;
  }
</style>

<script>
  function getMarkerPosition(container, img) {
    let imgCoords = img.getBoundingClientRect();
    let containerCoords = container.getBoundingClientRect();
    console.log(containerCoords)
    console.log(imgCoords)

    let imageOffset = imgCoords.left - containerCoords.left;
    let markerLeft = (imgCoords.width * 0.52) + imageOffset;
    let markerTop = (imgCoords.height * 0.39);


    return {
      x: markerLeft,
      y: markerTop
    }
  }
  export default {
    oncreate() {
      setTimeout(() => {
        console.log("Real earth has arrived");
        let coords = getMarkerPosition(this.refs.container, this.refs.img);

        this.refs.marker.style.left = coords.x + 'px';
        this.refs.marker.style.top = coords.y + 'px';
        this.refs.marker.style.opacity = 1;
      }, 100);

    }
  }

</script>
