<canvas ref:realEarth class="realEarth" width="800" height="500"></canvas>

<style>
  .realEarth {
    height: 600px;
    width: 100%;
    background: url('/bringme-app/public/img/space.jpg') no-repeat 0% 50%;
    background-size: 100%;
  }
</style>

<script>
  import * as THREE from 'three';

  class RealEarth {
    constructor(places, elem) {
      this.scene = new THREE.Scene();

      this.camera = new THREE.PerspectiveCamera(45, window.innerWidth/600, 0.1, 1000);
      this.camera.position.z = 3.20;
      this.camera.position.y = 2;
      this.camera.lookAt(this.scene.position);

      this.renderer = new THREE.WebGLRenderer({ canvas: elem, alpha: true })
      this.renderer.setClearColor(0x000000, 0);

      let ambientLight = new THREE.AmbientLight(0x444444);
      this.scene.add(ambientLight);

      let light = new THREE.DirectionalLight(0xaaaaaa, 1)
      this.scene.add(light);

      this.realEarth = new THREE.Mesh(
        new THREE.CylinderGeometry( 1.5, 1.5, .2, 64 ),
        new THREE.MeshPhongMaterial({
          map: new THREE.TextureLoader().load('img/real-earth.jpg'),
          bumpMap: new THREE.TextureLoader().load('img/real-earth.jpg'),
          bumpScale: 0.08,
          specularMap: new THREE.TextureLoader().load('img/real-earth.jpg'),
          specular: new THREE.Color('grey'),
        })
      );
      this.scene.add(this.realEarth);
      this.realEarth.rotateY(3.1);

      this.sun = new THREE.Mesh(
        new THREE.SphereGeometry(.1, 16, 16),
        new THREE.MeshPhongMaterial({
          map: new THREE.TextureLoader().load('img/sun2k.jpg'),
          bumpMap: new THREE.TextureLoader().load('img/sun2k.jpg'),
          bumpScale: 0.05,
          lightMap: new THREE.TextureLoader().load('img/sun2k.jpg'),
          lightMapIntensity: 1,
        })
      );
      this.sun.position.x = 2.5;
      this.sun.position.y = 1.;
      this.scene.add(this.sun);

      let daoMap = new THREE.TextureLoader().load('img/dao.png');
      let daoMat = new THREE.SpriteMaterial({ map: daoMap, color: 0xffffff });
      this.dao = new THREE.Sprite(daoMat);
      this.dao.position.x = -2;
      this.dao.position.y = 0.5;
      this.dao.scale.set(0.34, 0.5, 0.5);
      this.scene.add(this.dao);

      // comment this out for fake markers
      const markers = [[34.3205484, -118.4822827], [40.7128, -74.0060], [51.5074, 0.1278]];
      markers.forEach(marker => {
        let [lat, lon] = marker;


        let [x, z] = this.azimuthal(lat, lon);
        let y = 0.1;
        x = x * 0.2;
        z = z * 0.2;
        let spriteMap = new THREE.TextureLoader().load('img/pin.png');
        let spriteMaterial = new THREE.SpriteMaterial({ map: spriteMap, color: 0xffffff });
        this.sprite = new THREE.Sprite(spriteMaterial);
        this.sprite.position.set(x, y+0.075, z);
        this.sprite.scale.set(0.15, 0.15, 0.15);
        this.scene.add(this.sprite);
      });

      this.animate();
    }

    azimuthal(lat, lng) {
      let cosLat = Math.cos(lat);
      let cosLng = Math.cos(lng)
      let c = Math.acos(cosLat * cosLng);
      let k = c && c / Math.sin(c);;
      return [ k * cosLng * Math.sin(lat), k * Math.sin(lng) ];
    }

    animate() {
      requestAnimationFrame(() => this.animate());

      let cameraYaw = .001
      this.camera.position.x = this.camera.position.x * Math.cos(cameraYaw) - this.camera.position.z * Math.sin(cameraYaw);
      this.camera.position.z = this.camera.position.z * Math.cos(cameraYaw) + this.camera.position.x * Math.sin(cameraYaw);
      this.camera.lookAt(this.scene.position);

      let sunYaw = -.005
      this.sun.position.x = this.sun.position.x * Math.cos(sunYaw) - this.sun.position.z * Math.sin(sunYaw);
      this.sun.position.z = this.sun.position.z * Math.cos(sunYaw) + this.sun.position.x * Math.sin(sunYaw);
      this.sun.rotateY(0.01);

      let daoYaw = -.01
      this.dao.position.x = this.dao.position.x * Math.cos(daoYaw) - this.dao.position.z * Math.sin(daoYaw);
      this.dao.position.z = this.dao.position.z * Math.cos(daoYaw) + this.dao.position.x * Math.sin(daoYaw);

      this.renderer.render(this.scene, this.camera);
    }
  }

  export default {
    oncreate () {
      this.realEarth = new RealEarth(this.options.data.items, this.refs.realEarth);
    }
  }
</script>
